<div>
  <div style="align-content: center; padding: 10px 20% 15px 33%; ">
    <p style="color: red" *ngIf="message"> {{message}} </p>
    <h1> Do Advance Search Based On your Need </h1>
  </div>
  <hr/>
  <form [formGroup]="searchForm" (ngSubmit)="searchMediaRecord(searchForm)">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-4 col-form-label">Media Type</label>
          <select class="form-control" formControlName="tv_media_type"
           name="tv_media_type" [ngClass]="{ 'is-invalid': submitted && f.tv_media_type.errors }">
            <option value="">Select Media Type</option>
            <option value="TV">TV</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-4 col-form-label">Media Name</label>
          <select class="form-control" formControlName="tv_media_name"
          name="tv_media_name">
            <option value="">Select Media Name</option>
            <option value="YTV">YTV</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label class="col-sm-4 col-form-label">Target Country</label>
          <select class="form-control" formControlName="country"
          name="country" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
            <option value="">Select Country</option>
            <option value="botswana">Botswana</option>
            <option value="kenya">Kenya</option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="col-sm-4 col-form-label">Target City/Town</label>
          <select class="form-control" formControlName="city"
          name="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
            <option value="">Select City</option>
            <option value="gaborone">Gaborone</option>
            <option value="francisTown">FrancisTown</option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="col-sm-4 col-form-label">Language</label>
          <select class="form-control" formControlName="language"
          name="language" [ngClass]="{ 'is-invalid': submitted && f.language.errors }">
            <option value="">Select Language</option>
            <option value="english">English</option>
            <option value="setswana">Setswana</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label class="col-sm-5 col-form-label">Target Audience Sex</label>
          <select class="form-control" formControlName="sex" name="sex">
            <option value="">Select Sex</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="col-sm-6 col-form-label">Target Audience Age Group</label>
          <select class="form-control" formControlName="audience_age_group" 
          name="audience_age_group" multiple=true>
            <option value="">Select Age Group</option>
            <option value="20-35">  20 - 35 </option>
            <option value="36-45">  36 - 45 </option>
            <option value="46-55">  46 - 55  </option>
            <option value="56">  Above 56  </option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="col-sm-4 col-form-label">HH Income</label>
          <select class="form-control" formControlName="hh_income" 
          name="hh_income" multiple=true>
            <option value="">Select HH Income</option>
            <option value="lower">Lower</option>
            <option value="middle">Middle</option>
            <option value="upper">Upper</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label class="col-sm-7 col-form-label">Employment Status</label>
          <select class="form-control" formControlName="employment_status"
                  name="employment_status">
            <option value="">Select Employment Status</option>
            <option value="employed">Employed</option>
            <option value="unemployed">Unemployed</option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="col-sm-6 col-form-label">Profession</label>
          <select class="form-control" formControlName="profession" name="profession">
            <option value="">Select Profession</option>
            <option value="student">Student</option>
            <option value="manager">Manager</option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="col-sm-5 col-form-label">Marital Status</label>
          <select class="form-control" formControlName="marital_status" name="marital_status">
            <option value="">Select Marital Status</option>
            <option value="single">Single</option>
            <option value="married">Married</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <button id="report-button" class="btn btn-primary offset-sm-5 text-center">
        Generate Report
      </button>
    </div>
  </form>
</div>
<div *ngIf="loading" class="spinner-border centered"
     style="height: 100px;  width: 100px;" role="status">
  <span class="sr-only">Loading...</span>
</div>

<!--<div id="htmlData" *ngIf="medias?.length" class="body-container">
  <div *ngFor="let media of medias">
    <h1 style="margin-right: 75%; color: pink"> {{media.tv_media_name}} </h1>
    <div class="left">
      <p> Genre </p>
      <p> No. of episodes </p>
      <p> Dur. / episode </p>
      <p> Language of the programme </p>
      <p> On-air since </p>
      <p> Freq. of broadcast </p>
      <p> Org. broadcast time </p>
      <p> Rpt. Broadcast time(s) </p>
      <p> Target audience - gender </p>
      <p> Target audience – age group </p>
      <p> Target audience – income group </p>
      <p> Synopsis </p>
    </div>
    <div class="vertical right">
      <p> {{media.tv_program_genre || 'N/A'}} </p>
      <p> 100 </p>
      <p> {{media.duration || 'N/A'}} </p>
      <p> {{media.tv_program_language || 'N/A'}} </p>
      <p> {{media.day_of_broadcast | date }} </p>
      <p> {{media.days_of_original_broadcast || 'N/A'}} </p>
      <p> {{media.times_of_original_broadcast || 'N/A'}} </p>
      <p> {{media.time_of_first_repeat || 'N/A'}} </p>
      <p> {{media.sex || 'N/A'}} </p>
      <p> {{media.audience_age_group || 'N/A'}} </p>
      <p> {{media.hh_income || 'N/A'}} </p>
      <p> {{media.synopsis || 'N/A'}} </p>
    </div>
    <br/>
    <hr/>
  </div>
</div>-->
