<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/"> Data Entry </a>
    <a class="nav-item nav-link" routerLink="/client"> Client </a>
  </div>
</nav>
