<div>
  <div style="align-content: center; padding: 10px 20% 15px 40%">
    <p style="color: red" *ngIf="message"> {{message}} </p>
    <h1> Manage Media Data </h1>
  </div>
  <div *ngIf="loading" class="spinner-border centered" style="height: 100px;  width: 100px;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <!--<div class="centered">
    <h1>Loading...</h1>
  </div>-->
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-horizontal-stepper>
      <mat-step *ngFor="let step of steps; let index = index; let last = last;">
        <ng-template matStepLabel>{{ step.label }}</ng-template>
        <formly-form
          [form]="form"
          [model]="model"
          [fields]="step.fields"
          [options]="options[index]">
        </formly-form>
        <div>
          <button *ngIf="index !== 0" matStepperPrevious class="btn btn-primary"
                  type="button" (click)="prevStep(index)">
            Back
          </button>
          <button *ngIf="!last" matStepperNext class="btn btn-primary" type="button"
                  (click)="nextStep(index)">Next
          </button>
          <button *ngIf="last" class="btn btn-primary" type="submit">Submit</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
