/* You can add global styles to this file, and also import other style files */
.user-container {
  background-color: #fff;
  height: calc(95vh);
  margin: 2% 2%
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.body-container {
  background-image: url("https://homepages.cae.wisc.edu/~ece533/images/watch.png");
  color: white;
  font-size: 22px;
  padding: 10px 10px 10px 10px;
}

.right {
  margin-left: 50px;
}

.vertical {
  border-left: 3px solid white;
  position: absolute;
  left: 28%;
  margin-top: -30%;
  padding: 20px 20px 20px 25px;
  height: 600px;
}

.left {
  margin-right: 50%;
  padding-left: 50px
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  color: blue;
}

html {
  scroll-behavior: smooth;
}
